<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klee.AdminLogin.mapper.AdminMapper">
    <resultMap id="myResultMap" type="admin">
        <id property="adminId" column="adminid"/>
        <result property="adminName" column="adminname"/>
        <result property="adminPhone" column="adminphone"/>
        <result property="adminSex" column="adminsex"/>
        <result property="adminPwd" column="adminpwd"/>
    </resultMap>
    <select id="findAdmin" resultMap="myResultMap" parameterType="admin">
          select  * from  admin_ where adminname=#{adminName} and adminpwd=#{adminPwd}
    </select>
    <insert id="registerAdmin" parameterType="admin">
          insert  into  admin_ values (default ,#{adminName} ,#{adminPhone} ,#{adminPwd},#{adminSex})
    </insert>
    <select  id="findAllAdmin" resultMap="myResultMap">
          select * from  admin_
    </select>
    <delete id="deleteAdmin" parameterType="string">
          delete   from  admin_  where adminid=#{id}
    </delete>
    <update id="editAdmin" parameterType="admin">
        update  admin_  set  adminname=#{adminName} ,adminphone=#{adminPhone} ,adminpwd=#{adminPwd}  ,adminsex=#{adminSex}
        where adminid=#{adminId}
    </update>
    <select id="xRAdmin" resultMap="myResultMap" parameterType="integer">
        select  * from  admin_ where adminid=#{id}
    </select>
    <select id="findAdminByName" resultMap="myResultMap" parameterType="string">
        select  * from  admin_ where  adminname=#{adminName}
    </select>

    <insert id="insertAdmin" parameterType="admin">
        insert into  admin_  values (default ,#{adminName} ,#{adminPhone} ,#{adminPwd} ,#{adminSex} )
    </insert>
    <select id="findLikeByAdminName" resultMap="myResultMap" parameterType="string">

      select  * from  admin_ where  adminname like concat('%',#{adminName} ,'%')

    </select>

</mapper>